html,
body {
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.mob-hide {
}

.desk-hide {
  display: none;
}

.wrapper {
  display: flex;
}

.container {
  width: 100%;
  max-width: calc(100% - 270px);
  margin-left: auto;
  padding: 0 48px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.top-block {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
}

.page-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: bold;
  padding: 40px 0 32px;
}

.main-content {
  display: flex;
  flex-shrink: 0;
  align-items: start;
  width: 100%;
  padding-bottom: 100px;
}

.content {
  border: 1px solid #e5e5e5;
  width: 100%;

  @include border-radius(4px);
}
