.blogs-count {
  .content-wrap {
    @include flexbox();

    align-items: flex-start;
  }

  &_description {
    padding-right: 32px;
    max-width: 56%;

    h2 {
      font-size: 44px;
      line-height: 48px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    p {
      max-width: 60%;
      color: #5f5f5f;
    }
  }

  &_counts {
    width: 43.8%;
    margin-left: auto;

    @include flexbox();
    flex-wrap: wrap;

    a {
      @include button("big", "orange-border");
      @include flexbox();
      align-items: center;
      margin: 0 24px 24px 0;

      font-weight: 400;
      padding: 0 26px;

      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
  }
}
