.header {
  padding: 16px 0;

  .content-wrap {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
  }

  .button {
    width: 100px;
    margin-left: 8px;
  }
}

.logo {
}

.navigation {
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
  }

  a {
    color: inherit;
    font-weight: 700;
  }

  .user_block {
    display: none;
  }
}

.user_block {
  .orange {
    @include button("medium", "orange");
  }

  .orange_border {
    @include button("medium", "orange-border");
  }
}

.menu_btn {
  display: none;
}
