.filter_popup {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 45%;
  height: 100%;
  margin-left: 0;
  overflow: scroll;
  padding-top: 32px;
}

.hide-filter {
  color: #828282;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.form-item {
  .buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 2;

    > * {
      flex-shrink: 0;
    }

    .apply-button {
      span {
        padding-left: 29px;
        background: url(../images/cabinet/check_icon.svg) left center no-repeat;
      }
    }
  }

  &.form-item__search-results {
    display: flex;
    align-items: center;

    > span {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      color: #000;
      font-size: 18px;
      order: 1;
    }
  }
}
