.footer
  .content-wrap
    .footer_left
      .logo
        a(href="#")
          img(src="assets/images/logo.svg", alt="")
      .copyright
        | ©  2017-2020 Publicfast
    .footer_right
      ul.pages_list
        li
          a(href="#") PRICING
        li
          a(href="#") BLOG
        li
          a(href="#") CUSTOMER STORIES
        li
          a(href="#") FOR INFLUENCERS
        li
          a(href="#") TERMS & PRIVACY
        li
          a(href="#") CONTACT US
      .user_block
        a.button.orange_border(href="#") Login
        a.button.orange(href="#") Sign up
        .socials
          strong Our Socials
          a(href="#")
            img(src="assets/images/icons/linkedin_orange.svg", alt="")
          a(href="#")
            img(src="assets/images/icons/facebook_orange.svg", alt="")
