.header
  .content-wrap
    .logo
      a(href="#")
        img(src="assets/images/logo.svg", alt="")
    .menu_btn
      span
      span
      span
    .navigation
      .navigation_content
        ul
          li
            a(href="#") Blog
          li
            a(href="#") For Influencers
          li
            a(href="#") Pricing
        .user_block
          a.button.orange_border(href="#") Login
          a.button.orange(href="#") Sign up
    .user_block
      a.button.orange_border(href="#") Login
      a.button.orange(href="#") Sign up
