.header
  .content-wrap
    .logo
      a(href="#")
        img(src="assets/images/logo.svg", alt="")
    .navigation
      ul
        li
          a(href="#") Blog
        li
          a(href="#") For Influencers
        li
          a(href="#") Pricing
    .user_block
      a.button.orange_border(href="#") Login
      a.button.orange(href="#") Sign up
