html,
body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  height: 100%;
  color: #000;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  outline: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  border: none;
  max-width: 100%;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}
