.blogger-preview_item
  .photo
    img(src="assets/images/blogger_photo.jpg", alt="")
    .rating
      span
        img(src="assets/images/icons/star.svg", alt="")
      span 4.8
  .blogger-preview_name
    span Annie the traveller
    .tags
      a(href="#") Lifestyle
      a(href="#") Family
      a(href="#") Personal finance
  .blogger-preview_content.blogger-preview_content__right
    .blogger-preview_socials
      span
        img(src="assets/images/icons/instagram.svg", alt="")
        span 105030
      span
        img(src="assets/images/icons/facebook.svg", alt="")
        span 2030
      span
        img(src="assets/images/icons/twitter.svg", alt="")
        span 9584
    
    .blogger-preview_links
      a.orange(href="#") Get in touch
      a.orange-border(href="#") More info
  
  .blogger-preview_description
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada metus, vitae pharetra augue. Aenean enim quam, commodo eu posuere porttitor, hendrerit ut odio. Nullam et quam sodales elit tristique lacinia. Etiam id vehicula neque. Sed non nunc congue, aliquam sem ac, bibendum libero. Cras vel gravida urna, eu bibendum nisi. Maecenas interdum in lorem id luctus. Mauris sit amet turpis eget felis gravida malesuada. Etiam varius libero id.
    .read_more
      a(href="#") Read more
  