section.blogs-count
  .content-wrap
    .blogs-count_description
      h2 More travel blogs
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce molestie vel turpis eu mollis. Integer quis venenatis tortor, eu sollicitudin.
    .blogs-count_counts
      a(href="#")
        span Facebook
        span 10
      a(href="#")
        span Twitter 
        span 25
      a(href="#")
        span VK
        span 30
      a(href="#")
        span Youtube
        span 40
      a(href="#")
        span Telegram
        span 40

