section.bloggers-info
  h2 Instagram travel bloggers
  
  .content-wrap
    .bloggers-info_text
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget vestibulum dolor. Nam ut posuere nisi. Vestibulum diam velit, placerat at egestas in, tristique convallis mauris. Curabitur et tempus tortor. Phasellus semper sollicitudin ex sed scelerisque. Suspendisse ut ornare justo, quis viverra eros. Nam non magna eu urna pharetra vestibulum. Nullam venenatis tempus velit, sed lobortis dui varius non.

      ul
        li
          Mauris interdum pretium mi vel luctus.
        li
          Etiam orci massa, ornare venenatis nunc eget,
        li
          consequat tristique sem. Vivamus vel massa diam
        li
          Maecenas gravida, eros sit amet pellentesque egestas
        li
          justo sapien luctus lorem, at posuere eros diam sed diam.
        li
          Aliquam fringilla bibendum tincidunt. Proin at iaculis tortor, in imperdiet nulla. Morbi laoreet et purus id fermentum. Maecenas sapien sem, eleifend eget elit id, fringilla porta risus. Vestibulum facilisis id mauris sit amet viverra.

      p In euismod elit nec nulla rhoncus, id sodales neque eleifend. Donec ante nisl, suscipit feugiat ligula eu, pellentesque vehicula sem. Suspendisse maximus neque sit amet quam consectetur, ut porttitor mauris blandit. Duis faucibus semper leo sed venenatis. Integer aliquet, nunc et sagittis dignissim, tortor massa dignissim odio, ac pharetra ante ipsum vitae nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget tincidunt velit.

