section.faq 
  h2 FAQ
  .content-wrap
    .faq-item
      .faq-item_title
        span How can I cancel my subscription?
      .faq-item_content
        p To cancel your subscription, go to your Finance => Subscription and click Cancel  subscription. Your subscription will be canceled immediately. 
    .faq-item
      .faq-item_title
        span What if I can't find any relevant creators?
      .faq-item_content
        p To cancel your subscription, go to your Finance => Subscription and click Cancel  subscription. Your subscription will be canceled immediately. 
    .faq-item
      .faq-item_title
        span Which social networks do you have influencers on?
      .faq-item_content
        p To cancel your subscription, go to your Finance => Subscription and click Cancel  subscription. Your subscription will be canceled immediately.
    .faq-item
      .faq-item_title
        span What kinds of influencers do you have in your database?
      .faq-item_content
        p To cancel your subscription, go to your Finance => Subscription and click Cancel  subscription. Your subscription will be canceled immediately.
