section.slogan
  .content-wrap
    .slogan_title TOP INSTAGRAM TRAVEL BLOGGERS
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in ligula tincidunt, iaculis enim ut, pharetra tortor. Cras id est tincidunt, fermentum lacus vel, pellentesque odio. Nunc fringilla ultrices leo. Nam mattis quam ut metus mattis tempus. Nam in ultrices risus.
    p
      | Check also
      a(href="#") instagram travel influencers
      | and
      a(href="#") instagram travel accounts.
