extends ../_layout

block content
  .top-block
    .back.desk-hide
      img(src="assets/images/cabinet/arrow_left.svg", alt="")
    .page-title
      span Your Campaigns
  
  .main-content
    .content.content__campaigns-info
      .influencers_filter
        span.current.desk-hide Active
        span.icon.icon__arrow.desk-hide
        ul
          li
            a.active(href="#") Active
          li
            a(href="#") Finished
          li
            a(href="#") Waiting
          li
            a(href="#") All
      .campaigns-block
        .campaigns-item
          .photo
            img(src="assets/images/cabinet/menu_img.png", alt="")
          .campaigns-item_info
            .campaigns-item_info_main
              span Menu.ua — instal application
              p 12.02.2020 — 31.03.2020
              .campaign-state Active company
            .campaigns-item_info_contact
              .links
                a.message(href="#")
                  span.icon.icon__mail
                a.menu(href="#")
                  span
                    img(src="assets/images/cabinet/menu_icon.svg", alt="")
                a.stat(href="#")
                  span
                    img(src="assets/images/cabinet/stat_icon.svg", alt="")

        .campaigns-item
          .photo
            img(src="assets/images/cabinet/do_img.png", alt="")
          .campaigns-item_info
            .campaigns-item_info_main
              span Global launch Doublicat app
              p 13.01 – 15.01.20
              .campaign-state Active company
            .campaigns-item_info_contact
              .links
                a.message(href="#")
                  span.icon.icon__mail
                a.menu(href="#")
                  span
                    img(src="assets/images/cabinet/menu_icon.svg", alt="")
                a.stat(href="#")
                  span
                    img(src="assets/images/cabinet/stat_icon.svg", alt="")

        .campaigns-item
          .photo
            img(src="assets/images/cabinet/do_img.png", alt="")
          .campaigns-item_info
            .campaigns-item_info_main
              span Global launch Doublicat app
              p 13.01 – 15.01.20
              .campaign-state Active company
            .campaigns-item_info_contact
              .links
                a.message(href="#")
                  span.icon.icon__mail
                a.menu(href="#")
                  span
                    img(src="assets/images/cabinet/menu_icon.svg", alt="")
                a.stat(href="#")
                  span
                    img(src="assets/images/cabinet/stat_icon.svg", alt="")
