extends ../_layout

block content
  .top-block.top-block__inner
    .back.desk-hide
      img(src="assets/images/cabinet/arrow_left.svg", alt="")
    .page-title
      span Rozetka
    .top-block_buttons
      a.orange-square.desk-hide(href="#")
        img(src="assets/images/cabinet/more.svg", alt="")
      a.orange-square.mob-hide(href="#")
        .icon.icon__share
      .filter-button.filter-button__invite.mob-hide
        span
          img(src="assets/images/cabinet/add_file.svg", alt="")
        span Invite to Campaing

    .popup-overlay.desk-hide
      .filter_popup.filter_popup__list
        .close
          span.icon.icon__close
        .popup-title Rozetka
        ul
          li
            a(href="#") Invite to the Campaign
          li
            a(href="#") Download CSV

  .main-content
    .content.content__discovery
      .influencers_table.influencers_table__discovery
        .influencers_table_head
          .influencers_table_cell.influencers_table_cell__influencer
            span Influencer
          .influencers_table_cell.influencers_table_cell__reach
            span Reach/Subsctibers
          .influencers_table_cell.influencers_table_cell__engagement
            span Engegament
          .influencers_table_cell.influencers_table_cell__price
            span Price
          .influencers_table_cell.influencers_table_cell__email
            span Email
          .influencers_table_cell.influencers_table_cell__action
            span 
          
        .influencers_table_row
          .influencers_table_cell.influencers_table_cell__influencer
            .photo
              img(src="assets/images/cabinet/nasa_img.png", alt="")
            .info
              strong NASA | nasa
          .influencers_table_cell.influencers_table_cell__reach
            .table-subtitle.desk-hide Reach/Subsctibers
            p 1,914,128
          .influencers_table_cell.influencers_table_cell__engagement
            .table-subtitle.desk-hide Engegament
            p 24%
          .influencers_table_cell.influencers_table_cell__price
            .table-subtitle.desk-hide Price
            p $ 1,500.00
          .influencers_table_cell.influencers_table_cell__email
            .table-subtitle.desk-hide Email
            p wy***@mail.ru
          .influencers_table_cell.influencers_table_cell__action
            a.orange-square(href="#")
              span.icon.icon__repeat
            a.orange-square(href="#")
              span.icon.icon__trash
            button.button-orange Add to Campaing
          
        .influencers_table_row
          .influencers_table_cell.influencers_table_cell__influencer
            .photo
              img(src="assets/images/cabinet/nasa_img.png", alt="")
            .info
              strong NASA | nasa
          .influencers_table_cell.influencers_table_cell__reach
            .table-subtitle.desk-hide Reach/Subsctibers
            p 1,914,128
          .influencers_table_cell.influencers_table_cell__engagement
            .table-subtitle.desk-hide Engegament
            p 24%
          .influencers_table_cell.influencers_table_cell__price
            .table-subtitle.desk-hide Price
            p $ 1,500.00
          .influencers_table_cell.influencers_table_cell__email
            .table-subtitle.desk-hide Email
            p wy***@mail.ru
          .influencers_table_cell.influencers_table_cell__action
            a.orange-square(href="#")
              span.icon.icon__repeat
            a.orange-square(href="#")
              span.icon.icon__trash
            button.button-orange Add to Campaing
