doctype html
html(lang="en")
  include ./base/_head
  body
    
    .wrapper
      block header
        include ./base/_header
      
      .container
        block content

    include ./base/_footer

  //- script(src="vendor/js/jquery-1.11.3.min.js")
  //- script(src="assets/js/main.js")
