doctype html
html(lang="en")
  include ./base/_head
  body
    
    .wrapper
      block header
        include ./base/_header
      
      .container
        block content

    include ./base/_footer
