extends ../_layout

block content
  section.blogger-preview
    .content-wrap
      h2 20 Instagram travel bloggers
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      .show_more Load more
  
  include ../components/_blogs_count
  include ../components/_blogs_count
  
  include ../components/_bloggers_info

