extends ../_layout

block content
  include ../components/_slogan

  section.blogger-preview
    h2 20 Instagram travel bloggers
    .content-wrap
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      include ../components/_blogger_preview
      .show_more Load more
  
  include ../components/_blogs_count
  include ../components/_blogs_count
  
  include ../components/_bloggers_info

