extends ../_layout

block content
  section.pricing
    .content-wrap
      .pricing-table
        .pricing-table_plans
          .pricing-table_plans_title
            h3 Pricing plans
            p Try any plan free for 14 days
          span Pay monthly
          .plans-switch
            input(type="checkbox" id="plans-switch")
            label(for="plans-switch")
              span
          span 
            | Pay annually
            i Save 30%
        .table
          .table-head
            .table-row
              .table-cell
              .table-cell
                p Starter
                strong $0/Mo.
                a.button.orange(href="#") Sign up for Free
              .table-cell
                p Plus
                strong $49/Mo.
                span paid annually
                a.button.orange(href="#") Sign up for Free
              .table-cell.most-popular 
                b Most Popular
                p Pro
                strong $99/Mo.
                span paid annually
                a.button.orange(href="#") Sign up for Free
              .table-cell
                p Business
                a.button.dark-grey(href="#") Schedule Demo
          .table-body
            //- --------
            .table-row.empty
              .table-cell
                p Influencer Discover
              .table-cell
              .table-cell
              .table-cell.most-popular
              .table-cell
            .table-row
              .table-cell
                p Access to 8M+ influencers
              .table-cell
                p +
              .table-cell
                p +
              .table-cell.most-popular
                p +
              .table-cell
                p +
            .table-row
              .table-cell
                p Access to 130K+ verified influencers
              .table-cell
                p -
              .table-cell
                p -
              .table-cell.most-popular
                p +
              .table-cell
                p +
            .table-row
              .table-cell
                p Number of search results per month
              .table-cell
                p 20
              .table-cell
                p 500
              .table-cell.most-popular
                p Unlimited
              .table-cell
                p Unlimited
            .table-row
              .table-cell
                p Export results
              .table-cell
                p +
              .table-cell
                p +
              .table-cell.most-popular
                p +
              .table-cell
                p +
            //- --------
            .table-row.empty
              .table-cell
                p Influencers Relationship Management
              .table-cell
              .table-cell
              .table-cell.most-popular
              .table-cell
            .table-row
              .table-cell
                p Number of influencers saved
              .table-cell
                p 10
              .table-cell
                p 200
              .table-cell.most-popular
                p 500
              .table-cell
                p Unlimited
            .table-row
              .table-cell
                p Advanced data
              .table-cell
                p +
              .table-cell
                p +
              .table-cell.most-popular
                p +
              .table-cell
                p +
            .table-row
              .table-cell
                p Number of Lists
              .table-cell
                p 3
              .table-cell
                p 10
              .table-cell.most-popular
                p 30
              .table-cell
                p +
            .table-row
              .table-cell
                p PDF & share
              .table-cell
                p -
              .table-cell
                p -
              .table-cell.most-popular
                p +
              .table-cell
                p +
            .table-row
              .table-cell
                p Export data
              .table-cell
                p -
              .table-cell
                p +
              .table-cell.most-popular
                p +
              .table-cell
                p +
            //- --------
            .table-row.empty
              .table-cell
                p Campaign Management
              .table-cell
              .table-cell
              .table-cell.most-popular
              .table-cell
            .table-row
              .table-cell
                p Campaign Setup Fee
              .table-cell
                p $19.99
              .table-cell
                p FREE
              .table-cell.most-popular
                p FREE
              .table-cell
                p FREE
            .table-row
              .table-cell
                p Number of campaigns at once
              .table-cell
                p 1
              .table-cell
                p 3
              .table-cell.most-popular
                p 10
              .table-cell
                p 10
            .table-row
              .table-cell
                p Number of influencers in campaign
              .table-cell
                p 10
              .table-cell
                p 25
              .table-cell.most-popular
                p 100
              .table-cell
                p Unlimited
            .table-row
              .table-cell
                p Unlimited
              .table-cell
                p -
              .table-cell
                p -
              .table-cell.most-popular
                p +
              .table-cell
                p +
            .table-row
              .table-cell
                p Reporting & Analytics
              .table-cell
                p -
              .table-cell
                p +
              .table-cell.most-popular
                p +
              .table-cell
                p +
            .table-row
              .table-cell
                p Number of reports
              .table-cell
                p
              .table-cell
                p
              .table-cell.most-popular
                p
              .table-cell
                p
            .table-row
              .table-cell
                p Dedicated Account Manager
              .table-cell
                p -
              .table-cell
                p -
              .table-cell.most-popular
                p -
              .table-cell
                p +
            //- --------
            .table-row.last
              .table-cell
              .table-cell
                a.button.orange(href="#") Sign up for Free
              .table-cell
                a.button.orange(href="#") Sign up for Free
              .table-cell.most-popular
                a.button.orange(href="#") Sign up for Free
              .table-cell
                a.button.dark-grey(href="#") Schedule Demo
  include ../components/_faq
