.influencer-popup
  .close
    span.icon.icon__close
  .influencer-popup_top
    .influencer-popup_info
      .photo
        img(src="assets/images/cabinet/nasa_img.png", alt="")
      .influencer-popup_info_description
        strong NASA | nasa
        p @nasa
    a.button-orange(href="#") Add to Campaign
  .tabs.influencer-popup_tabs
    .influencer-tabs_list
      ul
        li
          a.active(href="#influencer_tab-1") Analytics
        li
          a(href="#influencer_tab-2") Publications
    .influencer-tabs_content
      .tabs_item#influencer_tab-1
        .publications-info
          .influencer_tab_item
            .item-title Subscribers
            span 53 602 506
          .influencer_tab_item
            .item-title Engagement
            span 35%
          .influencer_tab_item
            .item-title Audience Authenticity
            span 65%
          .influencer_tab_item
            .item-title Price ($)
            span 75K—150K
        .influencer_tab_item          
          .item-title Audience Authenticity
          p 
            span 
              span.icon.icon__percent
            strong 58% of the audience looks authentic
        .influencer_tab_item
          .item-title Average likes
          p 
            span 
              span.icon.icon__heart
            strong 21 556 likes per post from followers
        .influencer_tab_item
          .item-title Audience Type
          .type-stats
            .type-stats_bar
              .type-stats_bar_real(style="width:44.4%; left:0%;")
              .type-stats_bar_influencers(style="width:24.4%; left:44.4%;")
              .type-stats_bar_mass(style="width:22.8%; left:68.8%;")
              .type-stats_bar_suspicious(style="width:8.4%; left:91.6%;")
            .type-stats_item
              .bar-color(style="background-color: #349EFF;")
              p Real People
              span.percent 44.4%
              span.count 2.1M
            .type-stats_item
              .bar-color(style="background-color: #5BD467;")
              p Influencers
              span.percent 24.4%
              span.count 0.4M
            .type-stats_item
              .bar-color(style="background-color: #FF9900;")
              p Mass followers
              span.percent 22.8%
              span.count 100.2K
            .type-stats_item
              .bar-color(style="background-color: #111111;")
              p Suspicious Accounts
              span.percent 8.4%
              span.count 64.5K

          .item-title Audience Gender
          .type-stats.type-stats__gender
            .type-stats_bar
              .type-stats_bar_female(style="width: 87.4%; left: 0%;")
              .type-stats_bar_male(style="width: 12.6%; left: 87.4%;")
            .type-stats_item
              .bar-color(style="background-color: #FFAFFC;")
              p Females
              span.percent 87.4%
            .type-stats_item
              .bar-color(style="background-color: #349EFF;")
              p Males
              span.percent 12.6%

        .influencer_tab_item
          .language-tabs_list
            ul
              li
                a.active(href="#language_tab-1") Age
              li
                a(href="#language_tab-2") Language
          .language-tabs_content
            .tabs_item#language_tab-1
              .age-graph
            .tabs_item#language_tab-2(style="display: none;")
              .language-graph

        .influencer_tab_item.influencer_tab_item__growth
          .item-title Followers Growth
          .growth-graph
        
        .influencer_tab_item
          .item-title Top Hashtags
          a.hashtag(href="#")
            | #Google
            span 12
          a.hashtag(href="#")
            | #Yandex
            span 12
          a.hashtag(href="#")
            | #Google
            span 12
          a.hashtag(href="#")
            | #Yandex
            span 12
          a.hashtag(href="#")
            | #Google
            span 12
          a.hashtag(href="#")
            | #Yandex
            span 12

        .influencer_tab_item
          .item-title Audience Location
          .location-graph

        .influencer_tab_item.influencer_tab_item__interests
          .item-title Audience Interests
          
          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 71%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 41%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 21%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 71%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 75%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 24%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 71%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 71%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 71%;")

          .interest-item
            strong Beauty & Fashion
            .interest-item_visual
              strong 71%
              .interest-item_visual_graph
                .interest-item_visual_graph_fill(style="width: 71%;")


      .tabs_item#influencer_tab-2(style="display: none;")
        .publications-info
          .influencer_tab_item
            .item-title Subscribers
            span 53 602 506
          .influencer_tab_item
            .item-title Engagement
            span 35%
          .influencer_tab_item
            .item-title Audience Authenticity
            span 65%
          .influencer_tab_item
            .item-title Price ($)
            span 75K—150K
        .publications-content
          .publications-content_item
            img(src="assets/images/cabinet/image1.png", alt="")
          .publications-content_item
            img(src="assets/images/cabinet/image2.png", alt="")
          .publications-content_item
            img(src="assets/images/cabinet/image3.png", alt="")
          .publications-content_item
            img(src="assets/images/cabinet/image1.png", alt="")
          .publications-content_item
            img(src="assets/images/cabinet/image3.png", alt="")
          .publications-content_item
            img(src="assets/images/cabinet/image2.png", alt="")
          .publications-content_item
            img(src="assets/images/cabinet/image3.png", alt="")
