.price-popup.price-popup__big
  .close
    span.icon.icon__close
  .price-popup_content 
    .price-popup_title 
      span You need to upgrade your account to use Discovery
      h3 GET FULL ACCESS TO DISCOVERY
    .price-popup_content_block
      .price-popup_content_block_item
        .price-image
          img(src="./assets/images/cabinet/popup_price_img.png", alt="")
      .price-popup_content_block_item
        .price-advantages 
          span Get access to over 20M influencers across our database:
          .price-advantages_list.price-advantages_list__double
            ul
              li 17,500,000 Instagram influencers
              li 100,000 Youtube influencers
              li 2M business emails
            ul
              li Unlimited searches
              li Unlimited save
              li 3-Day Risk-Free Trial
        .price-block
          p 
            b $15.99
            span $9.99
            i per month
        .price-counter
          p Limited offer 
          .price-counter_item 1
          .price-counter_item 2
          .price-counter_item 1
          .price-counter_item 2
          p 
            | Use
            span easystart
            | at checkout.
        button.button.button_orange Start trial
          



