.price-popup
  .close
    span.icon.icon__close
  .price-popup_content 
    .price-popup_title 
      span You need to upgrade your account to use Discovery
      h3 GET FULL ACCESS TO DISCOVERY
    .price-popup_content_block
      .price-popup_content_block_item
        .price-block
          p 
            span $15.99
            br
            | per month
          .risk 3-Day Risk-Free Trial
        button.button.button_orange Start trial
      .price-popup_content_block_item
        .price-advantages 
          span Get access to over 20M influencers across our database:
          .price-advantages_list
            ul
              li 17,500,000 Instagram influencers
              li 100,000 Youtube influencers
              li 2M business emails
              li Unlimited searches
              li Unlimited save
          



