.popup-overlay.popup_verify
  .popup
    .popup_logo
      img(src="assets/images/cabinet/white_logo.svg", alt="")
    .popup_content
      h3 Please Verify Your Account
      p
        | In order to verify that you are a real person, please
        br
        | Simply click the link in the email to activate your account
        br 
        | Check your junk folder if it doesn't show up in a few minutes.)
      p.verify_by_phone
        a(href="#") Verify by phone instead
      
      .popup_content_bottom
        p
          | Already had an account? Click here to
          a(href="#") login
        p 
          | Need help? Please email at 
          a(href="#")  help@publicfast.com
          p 
            a(href="#") Log out
