.cabinet-navigation.mob-hide
  .logo-space
    .logo
      a(href="#")
        img(src="assets/images/cabinet/logo.svg", alt="")
  .cabinet-navigation_menu
    ul
      li.menu-drop.active
        span 
          span.icon.icon__globe
          | Discovery
          span.icon.icon__arrow
        ul.drop-list
          li.active
            a(href="#") Global influencers
          li
            a(href="#") Request influencers
          li
            a(href="#") Saved influencers
      li.menu-drop
        span
          span.icon.icon__briefcase
          | Marketplace
          span.icon.icon__arrow
        ul.drop-list
          li
            a(href="#") Create a new campaign
          li
            a(href="#") Your campaigns
          li
            a(href="#") Influencers at Publicfast
      li
        a(href="#")
          span.icon.icon__mail
          | Message
      li
        a(href="#")
          span.icon.icon__database
          | Balance
      li
        a(href="#")
          span.icon.icon__user
          | Your Profile
    a.exit.mob-hide(href="#")
      span.icon.icon__exit
      | Exit
