head
  title Publicfast Cabinet
  
  meta(charset="utf-8" content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="theme-color" content="#ffffff")

  link(href="assets/css/cabinet.css", rel="stylesheet")

  script(src="vendor/js/jquery-1.11.3.min.js")
  script(src="vendor/js/tooltipster.min.js" type="text/javascript")
  script(src="vendor/js/tooltipster.bundle.js" type="text/javascript")
  script(src="vendor/js/jQuery.tagify.min.js" type="text/javascript")
  script(src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="assets/js/chart.js" type="text/javascript")
  script(src="assets/js/accordion.js" type="text/javascript")
  script(src="assets/js/cabinet.js" type="text/javascript")
